<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fernando Siles | Potfolio-ish</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

</head>
<body>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/other">Other</a>
        <a href="/404">404</a>
    </nav>
    <span>TestSite - Still under construction!</span>
    <span>Config</span>
</header>
<main>