<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"/>

    <title>404 Not Found</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/404.css" />
</head>
<body>
<div class="fullscreen">
    <h3>404 NOT FOUND</h3>
    <div class="content">
        <div class="image">
            <img id="scarecrow" src="/Scarecrow.png">
            <img id="can1" src="/4can.png">
            <img id="can2" src="/0can.png">
            <img id="can3" src="/4can.png">
        </div>
        <div class="text">
            <h1>I have bad news for you</h1>
            <span>The page you are looking for might be removed or is temporarily unavailable</span>
            <a href="/">BACK TO HOMEPAGE</a>
        </div>
    </div>
    <span>Fernando Siles @ DevChallenge.io</span>
</div>
</body>
</html>
