<%- include ("../partials/header.ejs") %>

<style>
    #content {
        padding: 15%;
    }
    .team {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .teamMember {
        flex: 0 0 30%;
    }
    .teamMember:nth-child(2n) {
        margin-top: 151px;
    }
</style>

<div id="content">
    <div id="info">
        <h2>The creative crew</h2>
        <div>
            <h3>Who we are</h3>
            <span>We are team of creatively diverse.  driven.  innovative individuals working in various locations from the world.</span>
        </div>
    </div>
    <div class="team">
        <div class="teamMember">
            <img src="/teampage/photo1.png" />
            <span>Bill Mahoney</span>
            <span>Product Owner</span>
        </div>
        <div class="teamMember">
            <img src="/teampage/photo2.png" />
            <span>Bill Mahoney</span>
            <span>Product Owner</span>
        </div>
        <div class="teamMember">
            <img src="/teampage/photo3.png" />
            <span>Bill Mahoney</span>
            <span>Product Owner</span>
        </div>
    </div>
    <div class="team">
        <div class="teamMember">
            <img src="/teampage/photo4.png" />
            <span>Bill Mahoney</span>
            <span>Product Owner</span>
        </div>
        <div class="teamMember">
            <img src="/teampage/photo5.png" />
            <span>Bill Mahoney</span>
            <span>Product Owner</span>
        </div>
        <div class="teamMember">
            <img src="/teampage/photo6.png" />
            <span>Bill Mahoney</span>
            <span>Product Owner</span>
        </div>
    </div>
</div>

<%- include ("../partials/footer.ejs") %>
